.w100{
width:100% !important;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: local('☺'), 
    url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cursorr{
  display: inline-block;
}

.sectionservices{
  float: left;
  width: 100%;
}

.imgportada{
  float: left;
  background-image: url(../images/img-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.imgportadacompany{
  float: left;
  background-image: url(../images/img-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.ourservicesimg{
  height: 281px;
  float: left;
  background-image: url(../images/Our_Services.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  width: 100%;
}

img.resize{
  position: absolute;
  max-width: 50%;
  max-height: 50%;
  padding-left: 25px;
  cursor: pointer;
}

.pdd1{
  text-align: center;
  height: 75px !important;
  margin-bottom: 0px !important;
  background: black!important;
}

.pdd2 {
  font-weight: lighter !important;
}

.pdd2 a{
  border-top: 3px solid #000 !important; 
  color: white !important;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 0;
}

.pdd2 a:hover{
  border-top: 3px solid #ff2a2a !important;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 0;
}

.pdb2 {
  font-weight: lighter !important;
}

.pdb2 a{
  border-top: 3px solid #000 !important; 
  color: white !important;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 0;
}

.pdb2 a:hover{
  border-top: 3px solid #ff2a2a !important;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 0;
}


/*----DropdwnMenu----*/

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  float: left;
  position: relative;
  display: inline-block;
  font-size: 1em;
}

.dropdown-content {
  position: absolute;
  z-index: 2;
  top: 35px;
  width: 300px;
  list-style: none;
  display: none;
  background-color: black;
  opacity: 0.8;
  min-width: 103px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: black !important;
   background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*----Fin DropdwnMenu----*/

.pdd2 {
  margin-top: 2%;
  margin-left: 33%;
  margin-right: 33%;

}

.pdb2 {
  margin-top: 2%;
  margin-left: 33%;
  margin-right: 33%;

}

@media only screen and (min-width:1246px) and (max-width: 1460px)  {
.pdd2 {
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;


}


.pdb2 {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}
}


@media only screen and (min-width:997px) and (max-width: 1245px)  {
.pdd2 {
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
}

.pdb2 {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.cursorr img{
  width: 20%;
}
}

@media only screen and (min-width:831px) and (max-width: 997px)  {
.pdd2 {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.pdb2 {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}
.cursorr img{
  width: 20%;
}
}

@media only screen and (min-width:768px) and (max-width: 831px)  {
.pdd2 {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.pdb2 {
  margin-top: 2%;
  margin-left: 12%;
  margin-right: 12%;
}

.cursorr img{
  width: 20%;
}
}

.pdd3{
   position: absolute;
   font-size: 18px;
   background: black!important;
   top:75px !important;
   width: 100%;
   left:120px;
}

.pdd3 li{
     padding: 9px;
}

.pdd3 li:hover{
  cursor: pointer;
  color: black !important;
   background: white;
}

.pdd3 li a:hover{
  color: black !important;
}

.espaciotop {
  padding-top: 10px;
  float: left;
}

.logo-portada {
  text-align: center;
}

.decoracion {
  margin: auto;
  height: 5px;
  width: 300px;
  margin-top: 50px;
}

.infoportada {
  padding: 25px 0 50px 0;
  float: left;
}

.subtitulo {
  width: 100%;
  float: left;
}

.subtitulo h3{
  font-weight: lighter !important;
  color: white;
  text-align: center;
}

.portadaservices {
  float: left;
  width: 100%;
}

.portadaservices h1{
  font-weight: bolder !important;
  color: white;
  font-weight: 600;
  text-align: center;
}

.portadaservices h1:hover{
  color: #b8252b;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.portadaservices a:hover {
  text-decoration: none;
}

/*----Fin Nav y Portada----*/

/*----Resumen Company----*/

.resumencompany{
   background:#e7e7e7;
   height: auto;
   float: left;
   width: 100%;
   margin: auto;
}

.resumencompany-info{
   padding: 4em;
   width: 100%;
}

.resumencompany-head{
   margin: auto;
   width: 100%;
}

.resumencompany-head h3{
  font-weight: lighter !important;
  text-align: center;
  color: #242c57;
  font-size: 27px;
}

.botonmore-index {
  width: 100%;
  padding: 30px 0 30px 100px;
  float: left;
}

.paramas-index {
  width: 100%;
  margin: auto;
  float: left;
}

.paramas-index img:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;  
}

/*----Solutions----*/
#imgservicios{
   margin: auto;
}

/*----Outsourcing----*/
.resumenoutsrc{
   background:#f0f0f0;
   margin: auto;
   width: 100%;
   float: left;
}

.outsrc-info {
   float: left;
   width: 50%;
   padding: 100px 40px 0 250px
 }

.outsrc-info h3{
   color: #454545;
   font-size: 35px;
   font-weight: 5px;
}

.outsrc-img {
  float: right;
  width: 50%;
  padding: 50px 0 50px 40px;
}

/*----Hardware----*/
.resumenhard{
  background:#b3b3b3;
  margin: auto;
  width: 100%;
  float: right;
}


.resumenhard p,
.resumenidentity p{
  color: #454545 !important;
}


.hard-info {
  float: right;
  width: 50%;
  padding: 100px 250px 0 40px
}

.hard-info h3{
   color: #454545;
   font-size: 35px;
   font-weight: 5px;
}

.hard-img {
  float: left;
  width: 50%;
  padding: 50px 40px 50px 250px;
}

 /*----Identity----*/
 .resumenidentity{
   background:#cccccc;
   margin: auto;
   width: 100%;
   float: left;
}

/*----SoftwareFactory----*/
.resumenfactory{
  background:#fff;
  margin: auto;
  width: 100%;
  float: right;
}

/*----Carousel----*/

.carouselmodif {
  float: left;
  width: 100%;
}

.carousel,
.item,
.active {
    height: 500px;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-color: #464646;
}

footer {
    margin: 50px 0;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .5) 0%), color-stop(rgba(0, 0, 0, .0001) 100%));
  background-image:  linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0%), color-stop(rgba(0, 0, 0, .5) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: none;
  opacity: .9;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}

.carousel-control .icon-prev:before {
  content: '\2039';
}

.carousel-control .icon-next:before {
  content: '\203a';
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: url(../images/pagenate.png) no-repeat 0px 0px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }

  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  
  .carousel-indicators {
    bottom: 20px;
  }
  }

/*---- contact ----*/
.contact{
  width: 100%;
  float: left;
  padding: 50px 0 0 0;
  background-color: #e7e7e7;
}
.contact-left h3{
  color:#000000;
  font-weight:900;
  font-size:2.5em;
  text-transform:uppercase;
  margin:0;
  padding:0 0 0 0;
}
.contact-left label{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
  color: #7d7878;
  margin-bottom:1.8em;
  display:block;
}

.contact-left-grid h2{
  color: #cc2229;
}

.contact-left-grid p{
  color: #242c57;
  font-weight: 400;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  margin: 0.8em 0;
}
.contact-left-grid p a{
  text-decoration:none;
}
.contact-left-grid p a:hover{
  color:#35C2F8;
}
.contact-left-grid p span{
  width: 28px;
  height: 32px;
  display: inline-block;
  background: url(../images/contact-icons1.png) no-repeat 0px 0px;
  vertical-align: middle;
  margin-right: 0.3em;
}
.contact-left-grids div.col-md-6{
  padding:0;
}
.contact-left-grid p span.c-mobi{
  background-position:0px 0px;
}
.contact-left-grid p san.c-twitter{
  background-position: 0px -66px;
}
.contact-left-grid p span.c-pluse{
  background-position: 0px -132px;
}

.contactregion{
  float: left;
  display: block;
  width: 100%;
}

.guatemala {
  padding-top: 50px;
  color: #242c57;
  float: left;

}

.costarica {
  padding-top: 50px;
  color: #242c57;
  float: left;

}
.active{
  border-bottom: 3px solid #ff2a2a !important;
}

/*----*/
.contact-right-grid p,.contact-right-grid p a{
  color: #565353;
  font-weight: 300;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  margin: 0.8em 0;
}
.contact-right-grid p a{
  text-decoration:none;
}
.contact-right-grid p a:hover{
  color:#242c57;
}
.contact-right-grid p span{
  width: 28px;
  height: 32px;
  display: inline-block;
  background: url(../images/contact-icons2.png) no-repeat 0px 0px;
  vertical-align: middle;
  margin-right: 0.3em;
}
.contact-right-grids div.col-md-6{
  padding:0;
}
.contact-right-grid p span.c-msg{
  background-position: 0px 6px;
}
.contact-right-grid p span.c-face{
  background-position: 0px -61px;
}
.contact-right-grid p span.c-pin{
  background-position: 0px -126px;
}
.contact-right input[type="text"],.contact-right textarea{
  width:100%;
  padding:0.8em;  
  font-family: 'Open Sans', sans-serif;
  color:#777;
  font-weight:300;
  border-radius:0.3em;
  -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  -o-border-radius:0.3em;
  -ms-border-radius:0.3em;
  outline:none;
  border:1px solid #c3c3c3;
  transition:border-color 0.4s;
  -webkit-transition:border-color 0.4s;
  -moz-transition:border-color 0.4s;
  -o-transition:border-color 0.4s;
  -ms-transition:border-color 0.4s;
  margin:0 0 1em 0;
}
.contact-right input[type="text"]:hover,.contact-right textarea:hover{
  border-color:#35C2F8;
}
.contact-right textarea{
  outline:none;
  min-height:150px;
}
.contact-right input[type="submit"]{
  background:#565353;
  padding:0.9em 1.5em;
  color:#FFF;
  text-transform:uppercase;
  border-radius:3em;
  border:none;
  cursor:pointer;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
.contact-right input[type="submit"]:hover{
  background:#cc2229;
}

.finfooter{
  padding: 50px 0 0px 0;
}

.imgfooter{
    width: 100%;
    height: 281px;
    float: left;
    background-image: url(../images/logo_dataguard.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-color: #464646; */
}

@media only screen and (max-width : 816px) {
.imgfooter{
    width: 100% !important;
    height: 281px !important;
    float: left !important;
    background-image: url(../images/img-3.png);
    background-position: center center !important;
    background-repeat: no-repeat !important;
    /* background-size: cover; */
    /* background-color: #464646; */
}
}

.infofooter a:hover{
  text-decoration: none;
}

/*---Página Company---*/
.portadacompany {
  margin: auto;
}

.imgportadacompany {
  margin: auto;
  height: 450px;
}

.titulocompany {
    margin: auto;
    padding-top: 250px;
    padding-left: 150px;
}

.titulocompany h3{
  color: white;
  font-size: 5em;
  font-weight: 600;
}


@media only screen and (min-width:360px) and (max-width: 646px)  {
.titulocompany {
    margin: auto;
    padding-top: 150px;
      padding-left: 0px;
}

.titulocompany h3{
  color: white;
  font-size: 5em;
  font-weight: 600;
  text-align: center;
}
}


@media only screen and (min-width:0px) and (max-width: 359px)  {
.titulocompany {
    margin: auto;
    padding-top: 150px;
      padding-left: 0px;
}

.titulocompany h3{
  color: white;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}
}


.infoback {
  float:left;
  width: 100%;
  padding: 0 0 20px 0;
}

.ourstory {
  width: 100%;
  padding-top: 35px;
}

.ourstory div {
  width:65%;
  margin:auto;
}

.ourstory h3{
  font-family: 'Lato' !important;
  color: #454545;
  font-size: 45px;
  font-weight: 600;
}

.ourstory p{
  color: #454545;
  font-size: 22px;
  font-weight: lighter;
}

.left-info-company {
  float: left;
  display: block;
  padding-top: 50px;
  width: 50%; 
}

.imgmision {
  width:100%;
  float: left;
  display: inline-block;
}

.imgmision img{
 display: block;
 margin:0 auto;
}

.misioninfo {
  width:100%;
  display: inline-block;
  float: left;
}

.misioninfo h3{
  text-align:center;
  color: #454545;
  font-weight: 600;
  font-size: 45px;
}

.misioninfo p{
  text-align:center;
  color: #454545;
  width: 50%;
  margin: auto;
  font-size: 22px;
  font-weight: lighter;  
}

.right-info-company {
  float: right;
  display: block;
  padding-top: 50px;
  width: 50%; 
}

.imgvision {
  width:100%;
  float: left;
  display: inline-block;
}

.imgvision img{
 display: block;
 margin:0 auto;
}



@media screen and (max-width: 768px) {
.left-info-company {
  float: left;
  display: block;
  padding-top: 50px;
  width: 100% !important;  
}


.right-info-company {
  float: right;
  display: block;
  padding-top: 50px;
  width: 100% !important; 
}
}

.ourvaluesbox {
  padding: 20px 0 20px 0;
}

.ourvaluesinfo h3{
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 2.3em;
}

.valoresbox {
  padding-bottom: 50px;
}

.nr{
  padding-right:0 !important;
}
.left{
  float: left;
}

.iconvalor {
  width: 33.3%;
  float: left;
}

.iconvalorimg{
 display: block;
 margin:0 auto;
}

.iconvalor h3{
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 2.3em;
}


@media only screen and (min-width: 768px) and (max-width: 1144px){

.iconvalor {
  width: 33.3%;
  float: left;
}

.iconvalorimg{
   display: block;
 margin:0 auto;
}

.iconvalor h3{
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 2.3em;
}

}


@media only screen and (min-width: 574px) and (max-width: 767px){

.iconvalor {
  width: 100%;
  float: left;
}

.iconvalorimg{
 display: block;
 margin:0 auto;
}

.iconvalor h3{
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 2.3em;
}

}


@media only screen and (min-width: 0px) and (max-width: 573px){

.iconvalor {
  width: 100%;
  float: left;
}

.iconvalorimg{
  display: block;
 margin:0 auto;
}

.iconvalor h3{
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 2.3em;
}

} 
.titulooutsourcing {
    margin: auto;
    padding-top: 150px;
    padding-left: 150px;
}

.titulooutsourcing h3{
  color: white;
  font-size: 5em;
  font-weight: 600;
}

.titulooutsourcing p{
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.left-info-cuadro-rojo {
  float: left;
  width: 50% !important;
  padding: 0 40px 0 100px;  
}

@media screen and (max-width: 768px) {
.left-info-cuadro-rojo {
  float: left;
  display: block;
  padding-top: 50px;
  width: 100% !important;  
}


.right-info-outsrc {
  float: right;
  display: block;
  padding-top: 50px;
  width: 100% !important; 
}
}

.cuadro-rojo {
  width:75%;
  display: inline-block;
  float: right;
  padding: 40px;
}

.cuadro-rojo p{
  color: white;
}

.right-info-outsrc {
  float: right;
  display: block;
  width: 50% !important; 
}

.outsrc-info1 {
  width:75%;
  display: inline-block;
  float: left;
  padding: 40px;
}

.left-info-staffing {
  float: left;
  display: block;
  width: 50% !important;
  padding: 100px 40px 0 200px;
}

.staffing-info h3{
  color: #454545;
  font-size: 35px;
  font-weight: 5px;
}

.img-esquema {
  width:100%;
  display: inline-block;
  float: left;
  padding: 0 0 0 40px;
}

.img-esquema img{
  width:75%;
  float: left;
}

.right-img-staffing {
  float: right;
  width: 50% !important; 
}

/*--HH--*/

.left-img-hh {
  float: left;
  width: 50% !important;
  padding: 0 0 0 100px;  
}

.img-hh {
  width:100%;
  display: inline-block;
  float: left;
  padding: 40px ;
}

.img-hh img{
  width:100%;
  float: left;
}

.right-info-hh {
  float: right;
  display: block;
  width: 50% !important;
  padding: 75px 200px 0 40px;
}

.hh-info h3{
  color: #454545;
  font-size: 35px;
  font-weight: 5px;
}

.suggestions-title {
  float: left;
  width: 100%;
}

.moar {
  margin: auto;
  width: 100%;
  float: left;
}

.moar h3{
  color: #b8252b;
  font-size: 35px;
  font-weight: 5px;
  text-align: center;
}

.suggestions-services {
  float: left;
}

.left-suggest {
  float: left;
  display: block;
  padding: 75px;
  width: 50%;
  height: 445px;
  background-color: #cccccc;
}

.suggest1info {
  width:100%;
  display: inline-block;
  float: left;
  margin: auto;
}

.suggest1info h3{
  color: #454545;
  font-weight: 600;
  font-size: 2.3em;
}

.suggest1info p{
  color: #454545;
}

.right-suggest {
  float: right;
  display: block;
  padding: 75px;
  width: 50%;
  height: 445px;
  background-color: #999999; 
}

.suggest2info {
  width:100%;
  display: inline-block;
  float: left;
  margin: auto;
}

.suggest2info h3{
  color: #454545;
  font-weight: 600;
  font-size: 2.3em;
}

.suggest2info p{
  color: #454545;
}

.botonmore {
  width: 100%;
  padding-top: 30px;
  float: left;
}

.paramas {
  width: 100%;
  margin: auto;
  float: left;
}

.paramas img:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;  
}


.titulohardware {
    margin: auto;
    padding-top: 100px;
    padding-left: 150px;
}

.titulohardware h3{
  color: white;
  font-size: 5em;
  font-weight: 600;
}

.titulohardware p{
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.hardw-info1 {
  width:75%;
  display: inline-block;
  float: left;
  padding: 10px 40px 0 40px;
}

.img-servers {
  width:100%;
  display: inline-block;
  float: left;
  padding: 0 0 0 40px;
}

.img-servers img{
  width:75%;
  float: left;
}

.left-info-servers {
  float: left;
  display: block;
  width: 50% !important;
  padding: 10px 40px 0 200px;
}

.left-img-net {
  float: left;
  width: 50% !important;
  padding: 0 0 0 100px;  
}

.img-net {
  width:100%;
  display: inline-block;
  float: left;
  padding: 40px ;
}

.img-net img{
  width:100%;
  float: left;
}

.populartitle {
  float: left;
  width: 100%;
}

.popularleft {
  width: 50%;
  float: left;
}

.popularleft h3{
  color: white;
  font-size: 35px;
  font-weight: 5px;
  text-align: center;
}

.popularright {
  width: 50%;
  float: right;
}

.gotoboton {
  width: 50%;
  background-color: #ff0000;
  padding: 3px;
  margin: auto;
  float: left;
}

.gotoboton h3{
  color: white;
  font-size: 25px;
  font-weight: 3px;
  text-align: center;
}

.list-servers {
  width: 20%;
  float: left;
  display: inline;
}

.list-servers h3{
  float: left;
  color: white;
  padding-left: 60px;
  width: 100%;
}

.list-servers ul{
  float: left;
  color: white;
  padding-left: 60px;
  width: 100%;
}

.list-servers li{
  padding-top: 10px;
}

.list-servers a{
  color: white;
  padding-top: 10px;
}

#contact1{
display: inline-block;

}
#contact2 {
display: none;

}

@media only screen and (min-width:0px) and (max-width: 1133px)  {
#contact1{
display: none;

}
#contact2 {
display: inline-block;

}
}