<!DOCTYPE html>
<html lang="en">
<head>
	<title>Company</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<link rel="stylesheet" type="text/css" href="../css/JuanMa.css" />
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="../css/full-slider.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<!----start-top-nav-script---->
<script>
$(function() {
	var pull 		= $('#pull');
	menu 		= $('nav ul');
	menuHeight	= menu.height();
	$(pull).on('click', function(e) {
		e.preventDefault();
		menu.slideToggle();
	});
	$(window).resize(function(){
		var w = $(window).width();
		if(w > 320 && menu.is(':hidden')) {
			menu.removeAttr('style');
		}
	});
});
</script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
</head>
<body>
		<!-- Menu1 -->
	<div class="navbar  pdd1 navbar-inverse navbar-fixed-top" role="navigation" id="menudesk">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand cursorr" style="margin-right:5%;"onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" />
			</div>
		</div>
		<div class="collapse navbar-collapse pdd2">
			<ul class="nav navbar-nav">
				<li><a href="Company.html" class="Company_page">Company</a></li>
			<div class="dropdown">
				<li><a href="#imgservicios" class="dropbtn">Solutions</a> 
					 <div class="dropdown-content">
    					<a href="#outsourcing">Outsourcing</a>
    					<a href="#hardware">Hardware</a>
   						<a href="#identity">e-Identity</a>
   						<a href="#factory">Factory</a>
  					</div>
				</li>
			</div>
				<li> <a href="#myCarousel" class="scroll">News Feed</a></li>
				<li><a href="#contact" class="scroll">Contact Us</a> </li>
			</ul>
		</div>
	</div>
	<!-- fin-Menu1 -->
	<!-- inicio-Menu2 -->
	<div class="navbar  pdd1 navbar-inverse navbar-static-top" role="navigation" id="menusmart">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand cursorr" style="margin-right:5%;"onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" /></div>
		</div>
		<div class="collapse navbar-collapse pdd3">
			<ul class="nav navbar-nav">
				<li><a href="views/Company.html" class="Company_page">Company</a></li>
				<li><a href="#mrp" class="scroll">Solutions</a> </li>
				<li> <a href="#myCarousel" class="scroll">News Feed</a></li>
				<li><a href="#contact" class="scroll">Contact Us</a> </li>
			</ul>
		</div>
	</div>
	<!-- fin-Menu2 -->
	<!--Seccion1-StartPortada-->
	<section class="portadacompany" style="background:#09435a;">
		<div class="imgportadacompany" style="background-image:url(../images/img-2.jpg);">
			<div class="titulocompany">
				<h3>Company</h3>
			</div>
		</div>
	</section> 
	<!--FinSeccion1-EndPortada-->
	<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="ourstory">
			<div><h3>Our Story</h3>
			<br>
			<p>DataGuard IT is a North American company part of an international group based in Latin America. We are focused on Information Technology and Communications, with more than 25 years of expertise in the market. Our main objective is to provide services that guarantee the continuity of your company's technological operations. The business strategy is based on providing top of the line products and services that guarantees the continuity of your IT operations.</p>
			</div>
		</article>
		<article class="w100">
		<div class="left-info-company">
			<div class="imgmision">
				<img src="../images/img-mision.jpg">
			</div>
			<div class="misioninfo">
				<h3>Mission</h3>
				<p>Ensure the continuity of the operation of your business by providing quality solutions of information technologies and communications.</p>
			</div>
		</div>
		<div class="right-info-company">
			<div class="imgvision">
				<img src="../images/img-vision.jpg">
			</div>
			<div class="misioninfo">
				<h3>Vision</h3>
				<p>To be recognized as a global specialist in ensuring the continuity of the business of our customers.</p>
		</div>
		</article>
	</section>
	<!--finSeccion2-info -->
	<!--inicioSeccion3-valores -->
	<section class="w100" style="float: left; background: #cc2229">
		<article class="ourvaluesbox w100">
			<div class="ourvaluesinfo w100">
				<h3>Our Values</h3>
			</div>
		</article>
		<article class="valoresbox w100" style="float: left">
			<div class="icons w100" style="float: left">
				<div class="iconvalor">
					<img src="../images/icono-integridad.png">
				</div>
				<div class="iconvalor">
					<img src="../images/icono-innovacion.png">
				</div>
				<div class="iconvalor">
					<img src="../images/icono-calidad.png">
				</div>
			</div>
			<div class="texticons" style="floar:left">
				<div class="iconvalor">
					<h3>Integrity</h3>
				</div>
				<div class="iconvalor">
					<h3>Innovation</h3>
				</div>
				<div class="iconvalor">
					<h3>Quality</h3>
				</div>
			</div>
		</article>
	</section>

		<!-- contacto -->
			<div id="contact" class="contact">
				<div class="container">
				<div class="contact-grids">
					<div class="col-md-6">
						<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
							<h3>Contact Us</h3>
							<label>We work IT with you everywhere.</label>
							<div class="contact-left-grids">
								<div class="col-md-6">
									<div class="contact-left-grid">
										<h2>USA</h2>
										<p>16444 SW 61 WAY
										<br>MIAMI, FL 33193

										<br>
										<br>T: (305) 910-1614
										<br>F:(305) 385-0513</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-right-grid">
										<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
										<p><span class="c-face"></span><a href="#">facebook.com/Dataguardgroup</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="contactregion">
								<div class="guatemala">
									<p>
										GUATEMALA <br>
										4. Avenida 7-83, <br>
										Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
										Nivel 
									</p>
								</div>
								<div class="costarica">
									<p>COSTA RICA<br>
										750 mts Oeste <br>
										Restaurante Tony <br>
										Romas Escazu
									</p>
								</div>
								<div class="costarica">
									<p>NICARAGUA <br>
									Centro comercial <br>Managua <br>
									Modulo C-70
									</p>
								</div>
								<div class="costarica">
									<p>EL SALVADOR <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<img src="../images/mapacontacto3.png">
					</div>
					<div class="clearfix"> </div>
				</div>
				<!--- derechos_reservados_angel_cotto -->
				<div class="copy-right text-center">
					<p><a href="#">DataGuard IT</a></p>
					<script type="text/javascript">
					$(document).ready(function() {

								 		$().UItoTop({ easingType: 'easeOutQuart' });

								 	});
					</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>

			</div>
			</div>
</body>
</html>