<!DOCTYPE html>
<html lang="en">
<head>
	<title>IT Hardware</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<link rel="stylesheet" type="text/css" href="../css/JuanMa.css" />
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="../css/full-slider.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Bootstrap core JavaScript -->
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<!----start-top-nav-script---->
<script>
$(function() {
	var pull 		= $('#pull');
	menu 		= $('nav ul');
	menuHeight	= menu.height();
	$(pull).on('click', function(e) {
		e.preventDefault();
		menu.slideToggle();
	});
	$(window).resize(function(){
		var w = $(window).width();
		if(w > 320 && menu.is(':hidden')) {
			menu.removeAttr('style');
		}
	});
});
</script>
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
</head>
<body>
	<!-- Menu1 -->
		<div class="navbar navbar-inverse pdd1 navbar-fixed-top" role="navigation" id="pdd00">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr scroll" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" />
				</div>
			</div>
			<div class="navbar-collapse collapse pdb2" >
				<ul class="nav navbar-nav">
				<li><a href="../index.html">Home</a></li>
					<li><a href="Company.html">Company</a></li>
					<li class="dropdown">
						<a href="#" class="active">Solutions</a> 
						<div class="dropdown-content">
							<a href="Outsourcing.html">IT Outsourcing</a>
							<a href="Security.html">e-Identity &amp; Security</a>
							<a href="Software-Factory.html">Software Factory</a>
						</div>
					</li>
					<li> <a href="../index.html">News Feed</a></li>
					<li><a href="#contactscroll" class="scroll">Contact Us</a> </li>
				</ul>
			</div>
		</div>
	<!-- Fin-Menu1 -->
	<!-- Menu2 -->
		<div class="navbar  pdd1 navbar-inverse navbar-static-top" role="navigation" id="menusmart">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" /></div>
			</div>
			<div class="collapse navbar-collapse pdd3" id="nav-main">
				<ul class="nav navbar-nav">
					<a href="../index.html"><li>Home</li></a>
					<a href="Company.html"><li>Company</li></a>
					<a href="Outsourcing.html"><li> IT Outsourcing</li></a>
					<a href="Security.html"><li>e-Identity &amp; Security</li></a>
					<a href="Software-Factory.html"><li>Software Factory</li></a>
					<a href="../index.html"><li> News Feed</li></a>
					<a href="#contactscroll" class="scroll"><li>Contact Us</li></a> 
				</ul>
			</div>
		</div>
	<!-- Fin-Menu2 -->
	<!--Seccion1-StartPortada-->
	<header class="portada">
		<section class="imgportadahardware w100">
			<article class="infoportada w100">
				<div class="titulocompany">
					<h3>IT Hardware</h3>
				<br>
				<p><a href="#server" class="scroll">Servers</a></p>
				<p><a href="#net" class="scroll">Networking</a></p>
				<p><a href="#store" class="scroll">Storage</a></p>
				<p><a href="#rental" class="scroll">Rentals</a></p>
				</div>	
			</article>
		</section>
	</header> 
	<!--FinSeccion1-EndPortada-->
	<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
		<div class="left-info-company">
			<div class="datosinfo">
				<div class="left-info-cuadro-rojo">
					<div class="cuadro-rojo" style="background: #b8252b">
						<p>With more than $10 Million in inventory from major IT manufacturers like IBM, Dell, HP, Sun/Oracle, Cisco, EMC, NetApp, and others, we are confident that we have the equipment you need, when you need it.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="right-info-company">
			<div class="datosinfo">
			<div class="txtp">
				<p>We provide distribution of new and used IT hardware. As a <q>Channel Alternative,</q> our independent status means that we are not tied to any OEM discount categories, which gives us access to the global marketplace and the best possible pricing. We carry everything from legacy equipment, to N-1, to the latest and greatest equipment just released by the manufacturer.</p>
		</div>
		</article>
	</section>
	<!--finSeccion2-info -->

	<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="server">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
		<div class="left-info-company"  style="padding-top:2% !important;">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
					<h3>Servers</h3>
					<br>
					<p>We keep an extensive inventory of servers, storage and networking equipment from leading manufacturers such as Cisco	&#174;, IBM	&#174;, HP	&#174; and Sun	&#174;. This means we have the server you&#39;re searching for ready for immediate deployment, but more importantly, we also have the best solution for your specific IT environment.</p>
					</div>
				</div>
			</div>
		<div class="right-info-company">
			<div class="datosinfo">
			<div class="txtp">
				<div class="img-esquema">
						<img src="../images/IMG_3540.jpg">
				</div>
				</div>
		</div>
		</div>
		</article>
	</section>
	<!--finSeccion3-info -->
    <!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="net">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema">
    						<img src="../images/networking-img.jpg">
    					</div>
    				</div>
    			</div>
    			</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2" style="padding-top:0%;">
    					<h3>Networking</h3>
					<br>
					<p>Our impressive inventory of networking equipment, such as Cisco Switches, Cisco Routers, F5 networking appliances, Juniper networking equipment, and other top-manufacturer machines, allows you to easily add infrastructure capacity or deploy security.</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
	<!--finSeccion4-info -->
		<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="store">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
		<div class="left-info-company"  style="padding-top:2% !important;">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
				<h3>Storage</h3>
					<br>
					<p>Data is the lifeblood of your company. Keeping it safe and accessible is ours. The experts at DataGaurd IT work with you to design and implement SAN, NAS and direct attached storage solutions customized to meet your evolving storage needs. While storage needs double approximately every two years, you can rest, we got you covered.</p>
					</div>
				</div>
			</div>
		<div class="right-info-company">
			<div class="datosinfo">
			<div class="txtp">
				<div class="img-esquema">
						<img src="../images/storage-img.jpg">
				</div>
				</div>
		</div>
		</div>
		</article>
	</section>
	<!--finSeccion3-info -->
	    <!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="rental">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema">
    							<img src="../images/rentals-img.jpg">
    					</div>
    				</div>
    			</div>
    			</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2" style="padding-top:0%;">
    				<h3>Rentals</h3>
					<br>
					<p>With over $25 million in inventory from major IT manufacturers, such as IBM, Dell, HP, Sun, and Cisco, we&#39;re confident that we have the IT hardware you need. We pride ourselves on our diverse array of hardware, networking, and storage equipment; and you won&#39;t find our quality of customer service anywhere else.</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
	<!--finSeccion4-info -->
		<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
	<!--inicioseccion7-store-->
	<!--
	<section class="infoback w100" style="background: #242c57">
		<article class="populartitle">
			<div class="popularleft">
				<h3>Popular Products</h3>
			</div>
			<div class="popularright">
				<div class="gotoboton">
					<a href="http://www.centricsit.com/hardware-procurement/">
							<h3>Go To Store</h3>
					</a>
				</div>
			</div>
		</article>
		<article class="pop-products w100" style="float:left; padding: 50px;">
			<div class="list-servers">
				<h3>Servers</h3></a>
				<ul style="list-style: none;">
					<li><a href="http://www.centricsit.com/product-category/servers/hp-servers/">HP servers</a></li>
					<li><a href="http://www.centricsit.com/product-category/servers/sun-oracle-servers/">Oracle servers</a></li>
					<li><a href="http://www.centricsit.com/product-category/servers/ibm-servers/">IBM servers</a></li>
					<li><a href="http://www.centricsit.com/product-category/servers/dell-servers/">Dell servers</a></li>
				</ul>
			</div>
			<div class="list-servers">
				<a href="http://www.centricsit.com/product-category/networking/"><h3>Networking</h3></a>
				<ul style="list-style: none;">
					<li><a href="http://www.centricsit.com/product-category/networking/hp-networking/">HP networking</a></li>
					<li><a href="http://www.centricsit.com/product-category/networking/juniper-networking/">Juniper networking</a></li>
					<li><a href="http://www.centricsit.com/product-category/networking/cisco-networking/">Cisco networking</a></li>
					<li><a href="http://www.centricsit.com/product-category/networking/dell-security/">Dell security</a></li>
				</ul>
			</div>
			<div class="list-servers">
				<a href="http://www.centricsit.com/product-category/rentals/"><h3>Rentals</h3></a>
				<ul style="list-style: none;">
					<li><a href="http://www.centricsit.com/product-category/rentals/server-rentals/">Server rentals</a></li>
					<li><a href="http://www.centricsit.com/product-category/rentals/networking-rentals/">Networking rentals</a></li>
					<li><a href="http://www.centricsit.com/product-category/rentals/storage-rentals/">Storage array rentals</a></li>
				</ul>
			</div>
			<div class="list-servers">
				<a href="http://www.centricsit.com/product-category/support-services/"><h3>Support <br>Services</h3></a>
				<ul style="list-style: none;">
					<li><a href="http://www.centricsit.com/product-category/support-services/server-support/">Server support</a></li>
					<li><a href="http://www.centricsit.com/product-category/support-services/networking-support/">Networking support</a></li>
					<li><a href="http://www.centricsit.com/product-category/support-services/storage-support/">Storage support</a></li>
				</ul>
			</div>
						<div class="list-servers">
				<a href="http://www.centricsit.com/product-category/storage/"><h3>Storage</h3></a>
				<ul style="list-style: none;">
					<li><a href="http://www.centricsit.com/product-category/storage/hp-storage/">HP storage</a></li>
					<li><a href="http://www.centricsit.com/product-category/storage/sun-oracle-storage/">Oracle storage</a></li>
					<li><a href="http://www.centricsit.com/product-category/storage/ibm-storage/">IBM storage</a></li>
					<li><a href="http://www.centricsit.com/product-category/storage/dell-storage/">Dell storage</a></li>
					<li><a href="http://www.centricsit.com/product-category/storage/netapp-storage/">NetApp storage</a></li>
					<li><a href="http://www.centricsit.com/product-category/storage/emc-storage/">EMC storage</a></li>
				</ul>
			</div>
		</article>
	</section>
	-->
	<!--finSeccion7-store-->
	<!--inicioseccion8-sugest-->
	<section class="infoback w100" style="background: #e7e7e7">
		<article class="suggestions-title">
			<div class="moar">
				<h3>More Services</h3>
			</div>
		</article>
		<article class="suggestions-services w100">
			<div class="left-suggest">
				<div class="suggest1info">
					<h3>e-Identity & Security</h3>
					<br>
					<p><b>Personal security system</b> that protects the biometric capture information according to the different <b>characteristics of an individual (Fingerprints, iris, facial patterns and signature)</b> to generate a single identification document.</p>
				</div>
				<div class="botonmore">
					<a href="Security.html" class="paramas"><img src="../images/moreimg.svg"></a>
				</div>
			</div>
			<div class="right-suggest">
				<div class="suggest2info">
					<h3>IT Outsourcing</h3>
					<br>
					<p>One of our specialties is the outsourcing service that includes <b>Staffing</b> of IT personnel complemented with  <b>Head Hunting</b> designed to help you aquire the best of the best. </p>
				</div>
				<div class="botonmore">
					<a href="Outsourcing.html" class="paramas"><img src="../images/moreimg.svg"></a>
				</div>
		</article>
	</section>
	<!--finSeccion8-suggest-->
	<!-- Start-Contacto -->
	<div id="contactscroll" style="background:#e7e7e7; width:100%; padding:1.5%; float:left;"></div>
	<div id="contact" class="contact">
		<div class="container" id="contact1">
			<div class="contact-grids">
				<div class="col-md-8">
					<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
						<h3>Contact Us</h3>
						<label>We work IT with you everywhere.</label>
						<div class="contact-left-grids">
							<div class="col-md-6">
								<div class="contact-left-grid">
									<h2>USA</h2>
									<p>16444 SW 61 WAY
										<br>MIAMI, FL 33193

										<br>
										<br>T: (305) 910-1614
										<br>F:(305) 385-0513</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-right-grid">
										<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
										<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
									</div>

								</div>
								<div class="col-md-12">
									<div class="col-md-3">
										<p>
											GUATEMALA <br>
											4. Avenida 7-83, <br>
											Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
											Nivel 
										</p>
									</div>
									<div class="col-md-3">
										<p>COSTA RICA<br>
											750 mts Oeste <br>
											Restaurante Tony <br>
											Romas Escazu
										</p>
									</div>
									<div class="col-md-3">
										<p>NICARAGUA <br>
											Centro comercial <br>Managua <br>
											Modulo C-70
										</p>
									</div>
									<div class="col-md-3">
										<p>EL SALVADOR <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
									<div class="col-md-3">
										<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
								</div>

							</div>

						</div>
					</div>
					
					<div class="col-md-4  expertice-right-grid7  wow fadeInRight" id="close_right" data-wow-delay="0.4s">

					</div>


					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="container" id="contact2">
				<div class="contact-grids">
					<div class="col-md-12">
						<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
							<h3>Contact Us</h3>
							<label>We work IT with you everywhere.</label>
							<div class="contact-left-grids">
								<div class="col-md-6">
									<div class="contact-left-grid">
										<h2>USA</h2>
										<p>16444 SW 61 WAY
											<br>MIAMI, FL 33193

											<br>
											<br>T: (305) 910-1614
											<br>F:(305) 385-0513</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="contact-right-grid">
											<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
											<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
										</div>

									</div>
									<div class="col-md-12">
										<div class="col-md-3">
											<p>
												GUATEMALA <br>
												4. Avenida 7-83, <br>
												Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
												Nivel 
											</p>
										</div>
										<div class="col-md-3">
											<p>COSTA RICA<br>
												750 mts Oeste <br>
												Restaurante Tony <br>
												Romas Escazu
											</p>
										</div>
										<div class="col-md-3">
											<p>NICARAGUA <br>
												Centro comercial <br>Managua <br>
												Modulo C-70
											</p>
										</div>
										<div class="col-md-3">
											<p>EL SALVADOR <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
											</p>
										</div>
										<div class="col-md-3">
											<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
											</p>
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!--Footer-->
				<section class="finfooter w100" style="background: black; float: left;">
					<article class="infofooter w100">
						<div class="imgfooter">
							<br>

						</div>
						<p class="text-center w100"><a href="#">DataGuard IT - 2016</a></p>
					</article>
				</section>
				<!--- derechos_reservados_angel_cotto -->
				<div class="copy-right text-center">

					<script type="text/javascript">
						$(document).ready(function() {

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div> 
			<!-- End-Contacto -->	
       </body>
</html>