<!DOCTYPE html>
<html lang="en">
<head>
	<title>Security</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<link rel="stylesheet" type="text/css" href="../css/JuanMa.css" />
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="../css/full-slider.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Bootstrap core JavaScript -->
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<!----start-top-nav-script---->
<script>
$(function() {
	var pull 		= $('#pull');
	menu 		= $('nav ul');
	menuHeight	= menu.height();
	$(pull).on('click', function(e) {
		e.preventDefault();
		menu.slideToggle();
	});
	$(window).resize(function(){
		var w = $(window).width();
		if(w > 320 && menu.is(':hidden')) {
			menu.removeAttr('style');
		}
	});
});
</script>
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
</head>
<body>
	<!-- Menu1 -->
		<div class="navbar navbar-inverse pdd1 navbar-fixed-top" role="navigation" id="pdd00">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr scroll" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" />
				</div>
			</div>
			<div class="navbar-collapse collapse pdb2" >
				<ul class="nav navbar-nav">
				<li><a href="../index.html">Home</a></li>
					<li><a href="Company.html">Company</a></li>
					<li class="dropdown">
						<a href="#" class="active">Solutions</a> 
						<div class="dropdown-content">
							<a href="Outsourcing.html">IT Outsourcing</a>
							<a href="IT-Hardware.html">IT Hardware</a>
							<a href="Software-Factory.html">Software Factory</a>
						</div>
					</li>
					<li> <a href="../index.html">News Feed</a></li>
					<li><a href="#contactscroll" class="scroll">Contact Us</a> </li>
				</ul>
			</div>
		</div>
	<!-- Fin-Menu1 -->
	<!-- Menu2 -->
		<div class="navbar  pdd1 navbar-inverse navbar-static-top" role="navigation" id="menusmart">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" /></div>
			</div>
			<div class="collapse navbar-collapse pdd3" id="nav-main">
				<ul class="nav navbar-nav">
					<a href="../index.html"><li>Home</li></a>
					<a href="Company.html"><li>Company</li></a>
					<a href="Outsourcing.html"><li> IT Outsourcing</li></a>
					<a href="IT-Hardware.html"><li> IT Hardware</li></a>
					<a href="Software-Factory.html"><li>Software Factory</li></a>
					<a href="../index.html"><li> News Feed</li></a>
					<a href="#contactscroll" class="scroll"><li>Contact Us</li></a> 
				</ul>
			</div>
		</div>
	<!-- Fin-Menu2 -->
	<!--Seccion1-StartPortada-->
	<header class="portada">
		<section class="imgportadasecurity w100">
			<article class="infoportada w100">
				<div class="titulocompany">
					<h3>e-Identity &amp; Security</h3>
				<br>
				</div>	
			</article>
		</section>
	</header> 
	<!--FinSeccion1-EndPortada-->
		<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
		<div class="left-info-company">
			<div class="datosinfo">
				<div class="left-info-cuadro-rojo">
					<div class="cuadro-rojo" style="background: #b8252b">
					<p>A robust system before any cloning or identity theft. Optimising the mechanisms of identification and access control in the electronic world.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="right-info-company">
			<div class="datosinfo">
			<div class="txtp">
				<p>Biometric personal security system that protects the information capture biometric according to the different features found in the individual ( The fingerprints , iris, facial patterns and signatures ) in order to generate a single identification document with a certificate ( PKI ) .t</p>
		</div>
		</article>
	</section>
	<!--finSeccion2-info -->

	<section class="infoback w100" style="background: #e7e7e7">
		<article class="suggestions-title">
			<div class="moar">
				<h3>More Services</h3>
			</div>
		</article>
		<article class="suggestions-services w100">
			<div class="left-suggest">
				<div class="suggest1info">
					<h3>Software Factory</h3>
					<br>
					<p>One of DataGuard&#39;s most important business characteristics is the <b>custom-made application development</b>, based on your needs and preferences we adapt the system to the functions you&#39;re needing and the design you prefer.</p>
				</div>
				<div class="botonmore">
					<a href="Software-Factory.html" class="paramas"><img src="../images/moreimg.svg"></a>
				</div>
			</div>
			<div class="right-suggest">
				<div class="suggest2info">
					<h3>IT Hardware</h3>
					<br>
					<p>As a result of our strategic alliances <b>we can offer the best solutions in cloud services, virtual servers and business continuity (DRP).</b> Additionally we offer new, refurbished and used IT parts for sale.</p>
				</div>
				<div class="botonmore">
					<a href="IT-Hardware.html" class="paramas"><img src="../images/moreimg.svg"></a>
				</div>
		</article>
	</section>
<!-- Start-Contacto -->
	<div id="contactscroll" style="background:#e7e7e7; width:100%; padding:1.5%; float:left;"></div>
	<div id="contact" class="contact">
		<div class="container" id="contact1">
			<div class="contact-grids">
				<div class="col-md-8">
					<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
						<h3>Contact Us</h3>
						<label>We work IT with you everywhere.</label>
						<div class="contact-left-grids">
							<div class="col-md-6">
								<div class="contact-left-grid">
									<h2>USA</h2>
									<p>16444 SW 61 WAY
										<br>MIAMI, FL 33193

										<br>
										<br>T: (305) 910-1614
										<br>F:(305) 385-0513</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-right-grid">
										<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
										<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
									</div>

								</div>
								<div class="col-md-12">
									<div class="col-md-3">
										<p>
											GUATEMALA <br>
											4. Avenida 7-83, <br>
											Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
											Nivel 
										</p>
									</div>
									<div class="col-md-3">
										<p>COSTA RICA<br>
											750 mts Oeste <br>
											Restaurante Tony <br>
											Romas Escazu
										</p>
									</div>
									<div class="col-md-3">
										<p>NICARAGUA <br>
											Centro comercial <br>Managua <br>
											Modulo C-70
										</p>
									</div>
									<div class="col-md-3">
										<p>EL SALVADOR <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
									<div class="col-md-3">
										<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
								</div>

							</div>

						</div>
					</div>
					
					<div class="col-md-4  expertice-right-grid7  wow fadeInRight" id="close_right" data-wow-delay="0.4s">

					</div>


					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="container" id="contact2">
				<div class="contact-grids">
					<div class="col-md-12">
						<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
							<h3>Contact Us</h3>
							<label>We work IT with you everywhere.</label>
							<div class="contact-left-grids">
								<div class="col-md-6">
									<div class="contact-left-grid">
										<h2>USA</h2>
										<p>16444 SW 61 WAY
											<br>MIAMI, FL 33193

											<br>
											<br>T: (305) 910-1614
											<br>F:(305) 385-0513</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="contact-right-grid">
											<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
											<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
										</div>

									</div>
									<div class="col-md-12">
										<div class="col-md-3">
											<p>
												GUATEMALA <br>
												4. Avenida 7-83, <br>
												Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
												Nivel 
											</p>
										</div>
										<div class="col-md-3">
											<p>COSTA RICA<br>
												750 mts Oeste <br>
												Restaurante Tony <br>
												Romas Escazu
											</p>
										</div>
										<div class="col-md-3">
											<p>NICARAGUA <br>
												Centro comercial <br>Managua <br>
												Modulo C-70
											</p>
										</div>
										<div class="col-md-3">
											<p>EL SALVADOR <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
											</p>
										</div>
										<div class="col-md-3">
											<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
											</p>
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!--Footer-->
				<section class="finfooter w100" style="background: black; float: left;">
					<article class="infofooter w100">
						<div class="imgfooter">
							<br>

						</div>
						<p class="text-center w100"><a href="#">DataGuard IT - 2016</a></p>
					</article>
				</section>
				<!--- derechos_reservados_angel_cotto -->
				<div class="copy-right text-center">

					<script type="text/javascript">
						$(document).ready(function() {

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div>
			<!-- End-Contacto -->	
       </body> 
</html>