<!DOCTYPE html>
<html lang="en">
<head>
	<title>Software Factory</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<link rel="stylesheet" type="text/css" href="../css/JuanMa.css" />
	<link rel="stylesheet" type="text/css" href="../css/Riivera.css" />
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="../css/full-slider.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<!----start-top-nav-script---->
<script>
$(function() {
	var pull 		= $('#pull');
	menu 		= $('nav ul');
	menuHeight	= menu.height();
	$(pull).on('click', function(e) {
		e.preventDefault();
		menu.slideToggle();
	});
	$(window).resize(function(){
		var w = $(window).width();
		if(w > 320 && menu.is(':hidden')) {
			menu.removeAttr('style');
		}
	});
});
</script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
</head>
<body>
		<!-- Menu1 -->
	<div class="navbar  pdd1 navbar-inverse navbar-fixed-top" role="navigation" id="menudesk">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand cursorr" style="margin-right:5%;"onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" />
			</div>
		</div>
		<div class="collapse navbar-collapse pdd2">
			<ul class="nav navbar-nav">
				<li><a href="Company.html" class="Company_page">Company</a></li>
			<div class="dropdown">
				<li><a href="#imgservicios" class="dropbtn">Solutions</a> 
					 <div class="dropdown-content">
    					<a href="#outsourcing">Outsourcing</a>
    					<a href="#hardware">Hardware</a>
   						<a href="#identity">e-Identity</a>
   						<a href="#factory">Factory</a>
  					</div>
				</li>
			</div>
				<li> <a href="#myCarousel" class="scroll">News Feed</a></li>
				<li><a href="#contact" class="scroll">Contact Us</a> </li>
			</ul>
		</div>
	</div>
	<!-- fin-Menu1 -->
	<!-- inicio-Menu2 -->
	<div class="navbar  pdd1 navbar-inverse navbar-static-top" role="navigation" id="menusmart">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand cursorr" style="margin-right:5%;"onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" /></div>
		</div>
		<div class="collapse navbar-collapse pdd3">
			<ul class="nav navbar-nav">
				<li><a href="views/Company.html" class="Company_page">Company</a></li>
				<li><a href="#mrp" class="scroll">Solutions</a> </li>
				<li> <a href="#myCarousel" class="scroll">News Feed</a></li>
				<li><a href="#contact" class="scroll">Contact Us</a> </li>
			</ul>
		</div>
	</div>
	<!-- fin-Menu2 -->
	<!--Seccion1-StartPortada-->
	<section class="portadacompany" style="background:#09435a;">
		<div class="imgportadacompany" style="background-image:url(../images/Portadas.jpg);">
			<div class="titulocompany">
				<h3>Software Factory</h3>
				
				<h4><p>Web Application Development
				<br>Microsoft Application Development</br>
				Application Development for Mobile Devices
				<br>Graphic Design and Digital Video Animation</br></p></h4>
			</div>
		</div>
	</section> 
	<!--FinSeccion1-EndPortada-->
<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
		<div class="left-info-company">
	       <div class="left-img-rojo">
				<p>Ensure the continuity of the operation of your business by providing quality solutions of information technologies and communicationssure the continuity of the operation of your business by po.</p>
			</div>
	

		</div>
		<div class="right-info-company">
			<div class="imgvision">
				<img src="../images/empresa.jpg">
			</div>	
			</div>
	    </article>
	</section>
	<!--finSeccion2-info -->
	<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
		<div class="left-info-company">
	<div class="riverainfoleft">
				<h3>Web Aplication <br/>Development</h3>
				<h4>Java EE, Oracle, Spring MVC, Struts, PHP</h4>
				<br>
				<p>Ensure the continuity of the operation of your business by providing quality solutions of information technologies and communications.</p>
			</div>
	

		</div>
		<div class="right-info-company">
			<div class="imgvision">
				<img src="../images/empresa.jpg">
			</div>	
			</div>
	    </article>
	</section>
	<!--finSeccion2-info -->
		<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
		<div class="left-info-company">
	
			<div class="imgmision">
				<img src="../images/empresa.jpg">
			</div>	

		</div>
		<div class="right-info-company">
			<div class="riverainforight">
				<h3>Web Aplication <br/>Development</h3>
				<h4>Java EE, Oracle, Spring MVC, Struts, PHP</h4>
				<br>
				<p>Ensure the continuity of the operation of your business by providing quality solutions of information technologies and communications.</p>
			</div>
	
			</div>
	    </article>
	</section>
	<!--finSeccion3-info -->
	<!-- contacto -->
	<div id="contact" class="contact">
		<div class="container">
		<div class="contact-grids">
			<div class="col-md-6">
				<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
					<h3>Escribenos</h3>
					<label>Somos un equipo dispuesto a brindar la mejor solucion a la medida.</label>
					<div class="contact-left-grids">
						<div class="col-md-6">
							<div class="contact-left-grid">
								<p><span class="c-mobi"> </span>(416) 7746-3833</p>
								<p><span class="c-twitter"> </span><a href="#">@digico</a></p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="contact-right-grid">
								<p><span class="c-msg"> </span><a href="#">info@digico.tech</a></p>
								<p><span class="c-face"> </span><a href="#">facebook.com/digico</a></p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="contact-right wow fadeInLeft" data-wow-delay="0.4s">
					<form>
						<input type="text" class="text" value="Ingrese su Nombre Completo" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ingrese su Nombre Completo';}">
					 	<input type="text" class="text" value="Ingrese su Direcci&oacute;n de Correo Electr&oacute;nico" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ingrese su Direcci&oacute;n de Correo Electr&oacute;nico';}">
					 	 <textarea value="Ingrese su mensaje" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ingrese su Mensaje';}">Ingrese su Mensaje</textarea>
						<input class="wow shake" data-wow-delay="0.3s" type="submit" value="Enviar" />
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		</div>
	</div>
</body>
</html>